

nav {
  height: 50px;
  width: 60%;
  background-color: #FFB4B0;
  margin: 0 auto;
  border: 2px solid black;
  overflow: scroll;
}

#site-container {
  display: flex;
  flex-flow: row wrap;
}

header {
  flex: 1 100%;
}

.links {
  display: inline;
  padding-right: 5px;
  font-size: 10pt;
  font-family: Arial;
}

.link-spacer {
  border-right: 2px solid black;
}

.links a {
  text-decoration: none;
  color: blue;
}

.container {
  width: 60%;
  display: flex;
  margin: 0 auto;
}

.panel {
  height: 300px;
  border: 2px solid black;
  margin: 10px 10px 0 0;
  background-color: #4DD7FA;
  overflow: scroll;
  flex-grow: 2;
}

.content {
  height: 300px;
  border: 2px solid black;
  margin: 10px 0 0 10px;
  display: inline-block;
  background-color: #FEFAC0;
  overflow: scroll;
  flex-grow: 8;
}

.artist-album-genre {
  display: inline;
  padding: 0 20px;
}

.content h4 {
  font-size: 18px;
  color: #785616;
  margin: 20px 0 0px 20px;
  padding: 0;
}

.info-spacer {
  border-right: 2px solid black;
  padding: 0 20px;
}

.genre {
  padding-left: 20px;
}

label {
  font-family: Tahoma;
  margin: 10px 0 0 10px;
}

input[type="range"] {
  margin: 10px;
}

select {
  margin: 5px 0 10px 10px;
}

.filter-button {
  display: block;
  margin: 0 auto;
}

.label-left {
  margin: 0 5px 0 5px;
}

.label-right {
  margin: 0 0 0 5px;
}

table {
  margin-left: 7px;
}

.first-song-name:nth-child(2n+0) {
  background-color: seashell;
}

.first-song-name:nth-child(2n+1) {
  background-color: mintcream;
}

